/*lista de allowlist*/
.allowlist__section {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid green;
    padding: 10px;
}

.allowlist__left__infos {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h1 {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
}

.allowlist__date {
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}

.allowlist__observation {
    & p {
        margin-bottom: 1px;
    }
}

.allowlist__observation__title {
    font-weight: 600;
}

.allowlist__observation__text {
    color: gray;
}

.allowlist__status__text {
    padding: 5px;
    border-radius: 2rem;
}

.status__aprovado {
    background-color: #31f84f;
    color: #fcfefc;
}
.status__aguardando {
    background-color: #f9a54a;
    color: #fcfefc;
}
.status__rejeitado {
    background-color: #f86060;
    color: #fcfefc;
}

.allowlist__right__infos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.allowlist__date__info {
    color: white;
    text-align: center;
}